/* start-create-portfolio-style */
   
.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio h1 {
    width: 121px;
    height: 23px;
    padding-top: 71px;
    letter-spacing: 0.001em;
}
.portfolio p {
    width: 682px;
    height: 17px;
    padding-top: 45px;
    color: #767e9e;
    letter-spacing: -0.0134em;
}

.portfolio_list {
    display: flex;
    margin-top: 40px;
}
.portfolio_list li {
    display: flex;
    height: 22px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #666d89;
}
.button1 {
    height: 9px;
    width: 29px;
}
.button2 {
    width: 78px;
    height: 11px;
}
.button3 {
    width: 93px;
    height: 11px;
}
.button4 {
    width: 57px;
    height: 9px;
}
.portfolio_list a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}
.portfolio_list li:hover,
.portfolio_list li:focus,
.portfolio_list li:active {
border: 1px solid #dedede;
}
.portfolio_list a:hover,
.portfolio_list a:focus,
.portfolio_list a:active {
color: #dedede;
}
.pictures_row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pictures_row2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pictures_row3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pic {
    width: 220px;
    height: 187px;
    box-shadow: 0 0 3px #464b5e;
}

    /* end-create-portfolio-style */
    /* start-create-about-us-style */
.about_us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}
.about_us h1 {
    width: 134px;
    height: 23px;  
    padding-top: 71px;
    letter-spacing: -0.004em;
}
.about_us p {
    width: 939px;
    height: 43px;
    padding-top: 44px;
    color: #767e9e;
    letter-spacing: -0.0127em;;
}

.persons_row {
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
}
.pics {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 3px #464b5e;
}
.personal {
    display: flex;
    justify-content: space-between;
    
}
.personal div h3 {
    height: 14px;
    padding-top: 17px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0.01em;
} 
.personal div p {
    width: 300px;
    height: 175px;
    padding-top: 28px;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.006em;
}
.personal .social-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: -80px;
}
.personal .social-media a {
    margin-right: -3px;
    width: 32px;
    height: 32px;
    padding: 5px 8px;
    border: 1px solid #666d89;
    border-radius: 16px;
}
.facebook {
padding: 2px 4px;
}
    /* end-create-about-us-style */